<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<title>SCM</title>
		<link rel="icon" type="image/ico"
			href="#{resource['images:favicon.png']}" />
		<link
			href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700'
			rel='stylesheet' type='text/css' />


		<h:outputStylesheet name="ste.css" library="css" />

		<script type="text/javascript">
			function handleDrop(event, ui) {
				var draggable = ui.draggable, helper = ui.helper, position = ui.position, offset = ui.offset;
			}
		</script>
	</h:head>
	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<h:outputScript name="jquery.maskMoney.js" library="js" target="head" />
	<h:body>
		<p:growl id="messages" globalOnly="true" autoUpdate="true" />
		<h:form id="menu">
			<p:menubar autoDisplay="false">
				<p:menuitem value="Home" url="/spring/home"
					icon="ui-icon-home" />
<!-- 				<p:submenu label="Home" icon="ui-icon-document"> -->
<!-- 					<p:submenu label="New" icon="ui-icon-contact"> -->
<!-- 						<p:menuitem value="Project" url="#" /> -->
<!-- 						<p:menuitem value="Other" url="#" /> -->
<!-- 					</p:submenu> -->
<!-- 					<p:menuitem value="Open" url="#" /> -->
<!-- 					<p:separator /> -->
<!-- 					<p:menuitem value="Quit" url="#" /> -->
<!-- 				</p:submenu> -->

<!-- 				<p:submenu label="Edit" icon="ui-icon-pencil"> -->
<!-- 					<p:menuitem value="Undo" url="#" -->
<!-- 						icon="ui-icon-arrowreturnthick-1-w" /> -->
<!-- 					<p:menuitem value="Redo" url="#" -->
<!-- 						icon="ui-icon-arrowreturnthick-1-e" /> -->
<!-- 				</p:submenu> -->

<!-- 				<p:submenu label="Help" icon="ui-icon-help"> -->
<!-- 					<p:menuitem value="Contents" url="#" /> -->
<!-- 					<p:submenu label="Search" icon="ui-icon-search"> -->
<!-- 						<p:submenu label="Text"> -->
<!-- 							<p:menuitem value="Workspace" url="#" /> -->
<!-- 						</p:submenu> -->
<!-- 						<p:menuitem value="File" url="#" /> -->
<!-- 					</p:submenu> -->
<!-- 				</p:submenu> -->

<!-- 				<p:submenu label="Actions" icon="ui-icon-gear"> -->
<!-- 					<p:submenu label="Ajax" icon="ui-icon-refresh"> -->
<!-- 						<p:menuitem value="Save" icon="ui-icon-disk" /> -->
<!-- 						<p:menuitem value="Update" icon="ui-icon-arrowrefresh-1-w" /> -->
<!-- 					</p:submenu> -->
<!-- 					<p:submenu label="Non-Ajax" icon="ui-icon-newwin"> -->
<!-- 						<p:menuitem value="Delete" icon="ui-icon-close" ajax="false" /> -->
<!-- 					</p:submenu> -->
<!-- 				</p:submenu> -->

<!-- 				<p:menuitem value="Quit" url="http://www.primefaces.org" -->
<!-- 					icon="ui-icon-close" /> -->


			</p:menubar>
		</h:form>
		<ui:insert name="body" />
	</h:body>
</f:view>
</html>