<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>

		<title>Produtec - CRW</title>
		<link rel="icon" type="image/png"
			href="#{resource['images:favicon.png']}" />
		<h:outputStylesheet name="ste.css" library="css" />
		<h:outputStylesheet name="ste_layout.css" library="css" />
		<h:outputScript name="js/produtec_init.js" />

		<link
			href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"
			rel="stylesheet" />
		<link
			href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css"
			rel="stylesheet" />
	</h:head>
	<h:body>
		<ui:insert name="body">
		</ui:insert>
	</h:body>
</f:view>
</html>