<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        template="/WEB-INF/template/blankHome.xhtml">

        <ui:define name="body">
                <p:growl globalOnly="true" autoUpdate="true" />

                <script type="text/javascript">
                        $(function() {
                                produtec.init()
                        })
                </script>

                <div id="mainMenu">
                        <ui:insert name="header" />
                </div>

                <div id="main">
                        <ui:insert name="content" />
                </div>
        </ui:define>
</ui:composition>