<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/templateFilter.xhtml">

	<ui:define name="filtro">
		<h:form>
			<h:panelGrid columns="1">
				<h:outputLabel for="nome" value="Nome" />
				<p:inputText id="nome" />

				<p:spacer height="5" />

				<h:outputLabel for="nascimento" value="Nome" />
				<p:calendar id="nascimento" showOn="button" pattern="dd/MM/yyyy" />

				<p:spacer height="5" />

				<p:selectCheckboxMenu label="Cadastro ativo" id="tiposPessoa"
					filter="true" filterMatchMode="startsWith" panelStyle="width:250px"
					style="width:160px;">

					<f:selectItem itemLabel="Ativo" noSelectionOption="true" />
					<f:selectItem itemLabel="Inativo" />


				</p:selectCheckboxMenu>

				<p:spacer height="10" />

				<p:commandButton value="Consultar" action="consulta"
					update=":formTable" />
			</h:panelGrid>
		</h:form>

	</ui:define>

	<ui:define name="content">
		<h:form id="formDig">
			<p:dialog header="Aluno" modal="true" widgetVar="dig"
				showEffect="blind" resizable="false" width="800">
				<h:outputText value="#{aluno.nome}" />
			</p:dialog>
		</h:form>
		<h:form id="formTable">
			<p:dataTable value="#{alunos}" var="al">

				<p:column headerText="Matrícula">
					<h:outputText value="#{al.matricula}" />
				</p:column>

				<p:column headerText="Nome">
					<h:outputText value="#{al.nome}" />
				</p:column>

				<p:column headerText="Nascimento">
					<h:outputText value="01/11/1985" />
				</p:column>

				<p:column headerText="Ações">
					<p:commandButton icon="ui-icon-pencil" />
					<p:commandButton icon="ui-icon-info" oncomplete="dig.show();"
						action="info"  />
					<p:commandButton icon="ui-icon-trash" />
				</p:column>


			</p:dataTable>
		</h:form>


	</ui:define>




</ui:composition>

