<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/templateFilter.xhtml">

	<ui:define name="filtro">
		<h:form>
			<h:panelGrid columns="1">
				<h:outputLabel for="nome" value="Nome do Curso" />
				<p:inputText id="nome" />

				<p:spacer height="5" />

				<h:outputLabel for="cargaHoraria" value="Carga Horária" />
				<h:panelGrid columns="2">
					<p:inputText id="cargaHoraria"  />
					<h:outputText value="horas/aula" />
				</h:panelGrid>
				

				<p:spacer height="5" />

				<p:selectCheckboxMenu label="Cadastro ativo"
					filterMatchMode="startsWith" panelStyle="width:250px"
					style="width:160px;">

					<f:selectItem itemLabel="Ativo" />
					<f:selectItem itemLabel="Inativo" />


				</p:selectCheckboxMenu>

				<p:spacer height="10" />

				<p:commandButton value="Consultar" />
			</h:panelGrid>
		</h:form>

	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:dataTable>

				<p:column headerText="Nome do curso" />

				<p:column headerText="Carga horária" />

				<p:column headerText="Ativo" />

				<p:column headerText="Ações">
					<p:commandButton icon="ui-icon-pencil" />
					<p:commandButton icon="ui-icon-info" />
					<p:commandButton icon="ui-icon-trash" />
				</p:column>


			</p:dataTable>
		</h:form>

	</ui:define>

</ui:composition>

