<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/templateFilter.xhtml">

	<ui:define name="filtro">
		<h:form>
		
			<h:panelGrid columns="1">
				<h:outputLabel value="Curso:"/>
				<p:selectOneMenu value="#{nada}">
					<f:selectItem itemLabel="Informática básica" itemValue="Informática básica"/>
					<f:selectItem itemLabel="Desenho técnico" itemValue="desenho técnico"/>
					<f:selectItem itemLabel="Administrativo" itemValue="Administrativo"/>
					<f:selectItem itemLabel="" />
				</p:selectOneMenu>
				
				<h:outputLabel value="Turma:"/>
				<p:selectOneMenu value="#{nada}" >
					<f:selectItem itemLabel="" itemValue="" />
					<f:selectItem itemLabel="Turma 31" itemValue="31" />
					<f:selectItem itemLabel="Turma 32" itemValue="32" />
					<f:selectItem itemLabel="Turma 33" itemValue="33" />
					<f:selectItem itemLabel="Turma 34" itemValue="34" />
					<f:selectItem itemLabel="Turma 35" itemValue="35" />
					<f:selectItem itemLabel="Turma 36" itemValue="36" />
					<f:selectItem itemLabel="Turma 37" itemValue="37" />
					<f:selectItem itemLabel="Turma 38" itemValue="38" />
				
				</p:selectOneMenu>
				
				<p:commandButton value="Listar Alunos" update=":formTable" action="buscar"/>
			</h:panelGrid>
			
			
		</h:form>

	</ui:define>

	<ui:define name="content">
		
		<h:form id="formTable">
			<p:dataTable value="#{alunos}" var="al"  >
				<f:facet name="header">
					Alunos aprovados
				</f:facet>
				
				<p:column  headerText="selecione">
					<p:selectBooleanCheckbox />
				</p:column>
				
				<p:column headerText="Matrícula">
					<h:outputText value="#{al.matricula}" />
				</p:column>
				
				<p:column headerText="Nome">
					<h:outputText value="#{al.nome}" />
				</p:column>
				
				<p:column headerText="Turma">
					<h:outputText value="32" />
				</p:column>
			
			</p:dataTable>
			
			<h:panelGrid columns="2">
				<p:commandButton value="Emitir Certificado" action="emitir" />
				<p:commandButton value="Cancelar" />
			</h:panelGrid>
			
			
		</h:form>


	</ui:define>




</ui:composition>

