<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/blank.xhtml">

	<ui:define name="body">
		<h:form>
			<p:media value="/resources/files/guide.pdf" width="100%"
				height="900px;">  
    				Seu navegador não pode abrir pdf, <h:outputLink
					value="/resources/files/guide.pdf">clique</h:outputLink> para fazer o download do arquivo pdf.  
		</p:media>
		</h:form>
	</ui:define>

</ui:composition>

