<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/blank.xhtml">

	<ui:define name="body">

		<p:panel header="Tranferência de turma">
			<h:outputText
				value="Arraste o e solte o aluno para a turma na qual deseja transferi-lo"
				styleClass="h1"></h:outputText>


		</p:panel>




		<h:form id="formTransf">
			<h:panelGrid columns="2">
				<p:panel header="Aluno" style="width:250px; height:450px;">
					<h:panelGrid id="aluno" columns="2">
						<p:graphicImage id="img"
							value="http://www.edusutil.com.br/ste/spring/javax.faces.resource/eduSutil.jpg?ln=images"
							style="width:100px" />
						<h:panelGroup>
							<h:panelGrid columns="1">
								<h:outputText value="Eduardo Sutil" />
								<h:outputText value="Turma: 33" />
								<h:outputText value="Curso: Desenho técnico" />
								<h:outputText value="Outras infos" />
								<h:outputText value="Outras infos" />
								<h:outputText value="Outras infos" />
							</h:panelGrid>
						</h:panelGroup>
					</h:panelGrid>
					<p:draggable for="aluno" revert="true" />
				</p:panel>

				<h:panelGrid columns="1">
					<p:panel header="Turmas disponíveis">
						<h:panelGrid columns="3">
							<p:panel header="Turma 36">
								<h:panelGrid columns="1">
									<h:outputText value="numero de vagas disponíveis: 5" />
									<h:outputText value="Turno: tarde" />
									<p:outputPanel id="destino" styleClass="drop">
										<p:droppable onDrop="handleDrop" tolerance="fit">
											<p:ajax listener="#{bean.onDrop}" />
										</p:droppable>
									</p:outputPanel>
								</h:panelGrid>
							</p:panel>


							<p:panel header="Turma 32">
								<h:panelGrid columns="1">
									<h:outputText value="numero de vagas disponíveis: 5" />
									<h:outputText value="Turno: tarde" />
									<p:outputPanel id="destino2" styleClass="drop">
										<p:droppable onDrop="handleDrop" tolerance="fit">
											<p:ajax listener="#{bean.onDrop}" />
										</p:droppable>
									</p:outputPanel>
								</h:panelGrid>
							</p:panel>

							<p:panel header="Turma 35">
								<h:panelGrid columns="1">
									<h:outputText value="numero de vagas disponíveis: 5" />
									<h:outputText value="Turno: noite" />
									<p:outputPanel id="destino3" styleClass="drop">
										<p:droppable onDrop="handleDrop" tolerance="fit">
											<p:ajax listener="#{bean.onDrop}" />
										</p:droppable>
									</p:outputPanel>
								</h:panelGrid>
							</p:panel>

						</h:panelGrid>

						<h:panelGrid columns="2">
							<p:commandButton value="Confirmar" actionListener="#{bean.confirmar}" />
							<p:commandButton value="Cancelar" />
						</h:panelGrid>
					</p:panel>

				</h:panelGrid>
			</h:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>

