<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/homeTemplate.xhtml">

	<ui:define name="header">
		<header>
			<h1 id="logo">
				<span>SCM</span> <small>Versão 1.0</small>
			</h1>


			<nav id="navmain">
				<ul>
					<li class="active"><h:form id="men">
							<h:outputLink value="/rep/spring/home">
								<i class="icon-3x icon-eye-open" />
								<h:outputText value="For School" />
							</h:outputLink>
						</h:form></li>
				</ul>
			</nav>

			<div id="user">
				<h:form>
					<ul>
						<li><p:commandLink>
								<i class="icon-1x icon-user" />
								<h:outputText value="Usuário" />
							</p:commandLink>
							<ul>
								<li><h:outputLink value="/scm/logout">
										<i class="icon-1x icon-lock" />
										<h:outputText value="Sair" />
									</h:outputLink></li>
								<li><h:outputLink value="/scm/spring/alterasenha">
										<i class="icon-1x icon-key" />
										<h:outputText value="Alterar senha" />
									</h:outputLink></li>
							</ul></li>
					</ul>
				</h:form>
			</div>
		</header>
	</ui:define>

	<ui:define name="content">
		<p:panel id="conteudo">
			<!-- DASHBOARD - Botões de menu -->
			<div id="dashboard">
				<h2>Opções</h2>

				<div class="favorites">
					<h:form>
						<ul>
							<li><h:outputLink value="/scm/spring/matricula">
									<i class="icon-4x icon-briefcase" />
									<h:outputText value="Matricular" />
								</h:outputLink></li>
								<li><h:outputLink value="/scm/spring/certificado">
										<i class="icon-4x icon-book" />
										<h:outputText value="Emitir Certificado" />
									</h:outputLink></li>

								<li><h:outputLink value="/scm/spring/aluno">
										<i class="icon-4x icon-group" />
										<h:outputText value="Alunos" />
									</h:outputLink></li>
								<li><h:outputLink value="/scm/spring/transferencia">
										<i class="icon-4x icon-refresh" />
										<h:outputText value="Transferência" />
									</h:outputLink></li>

								
						</ul>

						<div class="clearfix"></div>
					</h:form>
				</div>
			</div>
			<!-- /#dashboard -->


		</p:panel>
	</ui:define>
</ui:composition>