<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/blank.xhtml">

	<ui:define name="body">

		<h:form>

			<p:panel header="Matricula">
				<h:panelGrid columns="2">

					<h:panelGrid columns="1">
						<p:outputLabel id="labelCurso" for="curso"
							value="Secione um curso:" />
						<p:selectOneMenu id="curso" value="#{nada}">

							<f:selectItem itemLabel="" itemValue="" />
							<f:selectItem itemLabel="AnálisedeCrédito"
								itemValue="AnálisedeCrédito" />
							<f:selectItem itemLabel="AssistenteAdministrativoCompleto"
								itemValue="AssistenteAdministrativoCompleto" />
							<f:selectItem itemLabel="AutoCad" itemValue="AutoCad" />
							<f:selectItem itemLabel="ComputaçãoGráfica"
								itemValue="ComputaçãoGráfica" />
							<f:selectItem itemLabel="ComunicaçãoeExpressão"
								itemValue="ComunicaçãoeExpressão" />
							<f:selectItem itemLabel="ConsultordeAtendimentoeVendas"
								itemValue="ConsultordeAtendimentoeVendas" />
							<f:selectItem itemLabel="Contabilidade" itemValue="Contabilidade" />
							<f:selectItem itemLabel="CorelDraw!" itemValue="CorelDraw!" />
							<f:selectItem itemLabel="DepartamentoPessoal"
								itemValue="DepartamentoPessoal" />
							<f:selectItem itemLabel="Dreamweaver" itemValue="Dreamweaver" />
							<f:selectItem itemLabel="vEmpresaeNegócios"
								itemValue="vEmpresaeNegócios" />
							<f:selectItem itemLabel="EstoqueeCompras"
								itemValue="EstoqueeCompras" />
							<f:selectItem itemLabel="Excel" itemValue="Excel" />
							<f:selectItem itemLabel="Farmácia" itemValue="Farmácia" />
							<f:selectItem itemLabel="FaturamentoeFinanceiro"
								itemValue="FaturamentoeFinanceiro" />
							<f:selectItem itemLabel="Fireworks" itemValue="Fireworks" />
							<f:selectItem itemLabel="Flash" itemValue="Flash" />
							<f:selectItem itemLabel="FormaçãodeEquipes"
								itemValue="FormaçãodeEquipes" />
							<f:selectItem itemLabel="FormaçãodeLíderes"
								itemValue="FormaçãodeLíderes" />
							<f:selectItem itemLabel="FormaçãodeValores"
								itemValue="FormaçãodeValores" />
							<f:selectItem itemLabel="GeraçãoWeb" itemValue="GeraçãoWeb" />
							<f:selectItem itemLabel="Hardware–MontagemeManutenção"
								itemValue="Hardware–MontagemeManutenção" />
							<f:selectItem itemLabel="InDesign" itemValue="InDesign" />
							<f:selectItem itemLabel="InformáticaAplicada"
								itemValue="InformáticaAplicada" />
							<f:selectItem itemLabel="Inglês–Novo" itemValue="Inglês–Novo" />
							<f:selectItem itemLabel="Internet" itemValue="Internet" />
							<f:selectItem itemLabel="LogísticaIntegrada"
								itemValue="LogísticaIntegrada" />
							<f:selectItem itemLabel="MarketingPessoal"
								itemValue="MarketingPessoal" />
							<f:selectItem itemLabel="MecânicaIndustrial"
								itemValue="MecânicaIndustrial" />
							<f:selectItem itemLabel="MelhorIdadeOnline"
								itemValue="MelhorIdadeOnline" />
							<f:selectItem itemLabel="NegociaçãoeVendas"
								itemValue="NegociaçãoeVendas" />
							<f:selectItem itemLabel="OperadordeCaixa"
								itemValue="OperadordeCaixa" />
							<f:selectItem itemLabel="PetróleoeGás" itemValue="PetróleoeGás" />
							<f:selectItem itemLabel="Photoshop	" itemValue="Photoshop	" />
							<f:selectItem itemLabel="PowerPoint" itemValue="PowerPoint" />
							<f:selectItem itemLabel="RelaçõesInterpessoais"
								itemValue="RelaçõesInterpessoais" />
							<f:selectItem itemLabel="Telemarketing" itemValue="Telemarketing" />
							<f:selectItem itemLabel="WebDesign" itemValue="WebDesign" />
							<f:selectItem itemLabel="Windows" itemValue="Windows" />
							<f:selectItem itemLabel="Word" itemValue="Word" />


						</p:selectOneMenu>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<p:outputLabel for="turma" value="Secione uma turma:" />
						<p:selectOneMenu id="turma" value="#{nada}">
							<f:selectItem itemLabel="" itemValue="" />
							<f:selectItem itemLabel="Turma 31 - 8 vagas"
								itemValue="Turma 31 - 8 vaga" />
							<f:selectItem itemLabel="Turma 32 - 3 vagas"
								itemValue="Turma 32 - 3 vaga" />
							<f:selectItem itemLabel="Turma 33 - 1 vaga"
								itemValue="Turma 33 - 1 vaga" />
						</p:selectOneMenu>
					</h:panelGrid>

				</h:panelGrid>

				<p:commandButton value="Selecionar aluno"
					oncomplete="digEscolher.show();" />
				<p:commandButton value="Cadastrar novo aluno"
					oncomplete="digCadastrar.show();" />

			</p:panel>

		</h:form>
		<p:dialog widgetVar="digEscolher" width="600" header="Escolha o aluno"
			showEffect="fold" hideEffect="fold" modal="true">
			<h:form>
				<p:autoComplete id="texto" value="#{nada}"
					completeMethod="#{bean.complete}" size="60" />
				<p:watermark for="texto" value="Pesquise por nome ou matrícula" />
				<p:commandButton value="Confirmar" oncomplete="digEscolher.hide();" />
				<p:commandButton value="Cancelar" oncomplete="digEscolher.hide();" />
			</h:form>
		</p:dialog>

		<p:dialog widgetVar="digCadastrar" width="600"
			header="Escolha o aluno" showEffect="fold" hideEffect="clip"
			modal="true">
			<h:form>
				<h:panelGrid columns="1">
					<p:outputLabel for="nome" value="Nome:" />
					<p:inputText id="nome" size="60" />
					<p:outputLabel for="nasc" value="data nascimento:" />
					<p:inputMask id="nasc" size="60" mask="99/99/9999" />
					<p:outputLabel for="rg" value="R.G.:" />
					<p:inputMask id="rg" size="60" mask="9.999.999-9" />
					<p:outputLabel for="cpf" value="C.P.F.:" />
					<p:inputMask id="cpf" size="60" mask="999.999.999-99" />

					<p:outputLabel for="escolaridade" value="Escolaridade:" />
					<p:selectOneMenu id="escolaridade" value="#{nada}">
						<f:selectItem itemValue="ESINO MÉDIO INCOMPLETO"
							itemLabel="ESINO MÉDIO INCOMPLETO" />
						<f:selectItem itemValue="ESINO MÉDIO COMPLETO"
							itemLabel="ESINO MÉDIO COMPLETO" />
						<f:selectItem itemValue="ESINO FUNDAMENTAL COMPLETO"
							itemLabel="ESINO FUNDAMENTAL COMPLETO" />
						<f:selectItem itemValue="ESINO FUNDAMENTAL INCOMPLETO"
							itemLabel="ESINO FUNDAMENTAL INCOMPLETO" />
						<f:selectItem itemValue="ESINO SUPERIOR COMPLETO"
							itemLabel="ESINO SUPERIOR COMPLETO" />
						<f:selectItem itemValue="ESINO SUPERIOR IMCOMPLETO"
							itemLabel="ESINO SUPERIOR IMCOMPLETO" />
					</p:selectOneMenu>

				</h:panelGrid>
				<p:commandButton value="Confirmar" oncomplete="digEscolher.hide();" />
				<p:commandButton value="Cancelar" oncomplete="digEscolher.hide();" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>

